.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.wholeext{
  width:800px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  padding-bottom: 25px;
  padding-left: 10px;
  padding-top: 1px;
}

#tagline {
  text-align: center;
  font-size: 35px;
  justify-content: center;
  margin-top: 20px;
}

#ultra {
  color: tomato;
  font-weight: 500;
  width: 0ch;
  overflow: hidden;
  white-space: nowrap;
  animation: tagline 10s  infinite alternate;
  border-right: 3px solid tomato; 
}

@keyframes tagline {
    0% {
        width: 0ch;
    }
    50% {
        width: 28ch;
    }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
